.Menu {
    position: relative;
}

/* ============= TOGGLER ============= */

.Menu__toggler {
    background-color: #9a0f98;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    right: -7px;
    z-index: 2;
}

.Menu__togglerIcon {
    color: #fff;
    font-size: 1.2em;
}

/* ============= NAVBAR ============= */

.Menu__nav {
    height: 100vh;
    padding: .5em .9em;
    border-right: 1px solid #F2F2F4;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.Menu__logoBox {
    padding: .5rem;
    margin-bottom: 2rem;
}

.Menu__logo {
    color: #CCCCD0;
    font-size: 1.5rem;
    font-weight: 800;
}

.Menu__navItem {
    color: #CCCCD0;
    padding: .5rem;
    border-radius: .5em;
    margin-bottom: .8rem;
    display: flex;
    align-items: center;
    transition: .3s;
}

.Menu__navItem:hover {
    background-color: #6a0572;
    color: #fff;
}

.Menu__navIcon {
    font-size: 1.3rem;
    margin-right: .5em;
}

.Menu__navTxt {
    display: inline-block;
}